@model HereToYou.Models.ContactUs

@{
    ViewData["Title"] = "Details";
    Layout = "AdminLayout";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Contact Us Details</h6>

                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Message)
                    </dd>
                    @if (Model.User != null)
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.User.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.User.Id)
                        </dd>
                    }
                </dl>

                <div class="mt-4">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>