@model IEnumerable<HereToYou.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";

}
<style>
 
    .primary {
        color: #ffffff !important; /* or any other blue shade you prefer */
        background-color: #ffffff !important;
    }

    /* Update other elements that use the red color */
    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff !important;
    }

    .alert-primary {
        background-color: #ffffff !important;
        border-color: #ffffff !important;
    }

    .progress-bar.progress-bar-striped.bg-primary {
        background-color: #ffffff !important;
    }
</style>
<div style="padding-left:30px;padding-top:25px">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>